<span style="height:150px;display:block;"></span>
<div class="fonav">
  <ul>
    <li>
      <div id="mess" style="cursor:pointer;" onclick="location.href='\messa'"><span class="glyphicon glyphicon-bell" style="height:20px;"></span>
        <p style="font-weight:bold;color:#ffffff;">消息</p>
      </div>
      <!--<a href="#"><span><img src="images/ct.png" height="20"></span><span>消息</span></a>-->
    </li>
    <li style="position:relative;text-align:-webkit-center;text-align:-moz-center;">
      <div style="border-radius:25px;background-color:skyblue;width:40px;height:40px;">
        <p style="font-weight:bold;color:#ffffff;font-size:25px;"><a href="/post">+</a></p>
      </div>
    </li>
    <li>
      <div id="ger" style="cursor:pointer;" onclick="location.href='\gerr'"><span class="glyphicon glyphicon-user" style="height:20px;"></span>
        <p style="font-weight:bold;color:#ffffff;">个人中心</p>
      </div>
    </li>
  </ul>
</div>
</body>

</html>
