<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/toto.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <style>
      .btn{
        width:150px;
        margin-top:-16px;
      }
    </style>
  </head>
  <body>
    <form id="xs"method="post" >
      <div style="text-align:center;">
        <h1 align="center">悬赏内容</h1><br />
        <textarea class="form-control" name="post" rows="20" ></textarea><br />
        <div class="form-group">
          <label for="inputPassword3" style="width:100px;">悬赏积分：<input type="number" class="form-control col-xs-1"  placeholder="输入数字..." style="text-align:center;" name="xmark" ></label>
        </div>
        <button type="button" class="btn btn-success btn-lg">发布悬赏</button>
      </div>
    </form>
    <script>
      $('.btn').click(function(){
        var getv=$("input[type='number']").val();
        if(getv && <%= user.mark %>-getv>=0){
          alert("发布成功！");
          $('#xs').submit();
        }else if(!getv){
          alert("悬赏积分不能为空");
        }else{
          alert("抱歉，您没那么多积分了");
        }
      });
    </script>
  </body>
</html>
